.btnOpen{
    position: absolute;
}
.btnOpen button{
    width: 1.5em;
    height: 1.5em;
    border-radius: 12px;
    text-align: center;
    font-weight: lighter;
    cursor: pointer;
    font-size: 90px;
    color: #FFFFF6;
    background-color: rgb(75, 184, 111)
}
