
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal-dialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    height: 50%;
    width: 32%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0,0,10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form{
    position: absolute;
    width: 300px;
    height: max-content;
    background-color:  rgb(196, 173, 173);
    border-radius: 7px;
    padding: 15px;
    top:40px
}

.textInput {
    padding-bottom: 15px;
}
.textInput input{
    width: 250px;
    height: 35px;
    border: 1px solid  rgb(175, 155, 155) ;
    border-radius: 7px;
    padding: 5px;
}
.textInput input:focus{
    border-radius: 4px;
}

.btnClose {
    position: absolute;
    left: 90%;
    top: 53px;
}
.btnClose button{
    width: 50px;
    height: 50px;
    background-color:transparent;
    border: none;
    outline: none;
    font-size: 50px;
    cursor: pointer;
    transform: rotate(45deg);
}


.addBtn  {
    display: block;
    align-items: center;
    justify-content: center;
}
.addBtn button{
    width: 10vw;
    height: 60px;
    margin-left: 80px;
    letter-spacing: 1px;
    font-family: 'Heebo', sans-serif;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
}


