.header{
    width: 500px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    font-family: 'Squada One', cursive;
    margin: 10px;
}
.header h1{
    color:#212A80;
   border-bottom: none;
}
.header h1 a {
    color:#212A80;
}


