

nav{
    margin: 0 auto;
    position: relative;
    max-width: 100%;
}

nav:before{
content: '';
display: block;
border-radius: 15px;
background:#212A9C;
height: 83px;
width: 100%;
position: absolute;
z-index: -1;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80px;
}

ul li{
    float: left;
}

ul li a{
    display: table-cell;
    height: 80px;
    padding: 0 30px;
    text-decoration: none;
    line-height: 70px;
    letter-spacing: 1px;
    color: #FFFFF6;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

ul li a:hover{
    background: #212A80;
    border-radius: 15px;
}

.content{
    max-width: 100%;
    max-height: max-content;
    margin: 25px;
    display: flex;
    float: left;
    position: absolute;
    padding-bottom: 100px;
}
.content-card{
    position: relative;
    background: #FFF8FF;
    border-radius: 12px;
    width: max-content;
    height: max-content;
    margin-right: 25px;
    left: 140px;
    border:2px solid #212A80;
   
    
    
}
.card-title{
   padding: 5px;
   font-family: 'Heebo', sans-serif;
   font-size: 18px;
   color: #FFFFF6;
   background-color: #212A80;
   border-radius: 12px;
  
}
.word-origin{
    padding: 5px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: #FFFFF6;
    background-color: #212A80;
    border-radius: 12px;
   
}
.word-translation{
    padding: 5px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: #FFFFF6;
    background-color: #212A80;
    border-radius: 12px;
    
}
